# Local
.DS_Store
*.local
*.log*
*/**.env*

# Dist
*/node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# api

api/**/*__pycache__
api/**/token.json
api/**/client_secret_735258533581-totb5tqppc6sknottk4djqq8mmr5g810.apps.googleusercontent.com.json
api/**/firebase-adminsdk-o3fku-a740a9dc1d.json