@import "tailwindcss";

@theme {
  --font-display: "Manrope", "sans-serif";
  --font-display--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-display--font-variation-settings: "opsz" 32;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply font-display;
  }
}
